.phone {
  height: 450px;
}

.hand-container {
  @apply h-full;
  @apply absolute inset-0;
}

.contact-fingers {
  width: 100px;
  transform: translate(-65px, -15px);
  @apply absolute bottom-0 left-0 z-20;
  @apply pointer-events-none;
}

.contact-hand {
  width: 910px;
  transform: translate(-40px, -130px);
  @apply absolute top-0 left-0 z-0;
}
